body {
    width: 1440px;
    height: 7741px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    padding: 0 calc(50vw - 750px);
}

.header__container {
    width: 1440px;
    height: 94px;
    padding-top: 50px;
}

.header__div {
    display: flex;
}

.header__nav {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 340px;
    height: 70px;

}

.header__ul {
    width: 192px;
    height: 24px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 18px;
}

.header__a {
    text-decoration: none;
}

.header__section {
    width: 960px;
    height: 27px;
    display: flex;
    justify-content: center;


}

.header__maps {
    width: 478px;
    height: 27px;
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    padding-top: 20px;
    gap: 20px;
}

.header__h1 {
    display: flex;
    justify-content: end;
    font-size: 16px;
}

.header__language {
    width: 65px;
    height: 24px;
    padding-top: 5px;
}

.section__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section__li {
    list-style: none;
}

.selection__a {
    text-decoration: none;
}

.header__h2 {
    max-width: 1040px;
    height: 239px;
    padding: 0 calc(50vw - 650px);
    line-height: 100%;
}

.header__i {
    width: 1040px;
    height: 76px;
    font-size: 65px;
    font-family: "Roboto", sans-serif;
    --color-black: rgba(51, 51, 51, 1);
    display: flex;
    padding-top: 100px;
}

.header__p {
    width: 535px;
    height: 60px;
    padding: 0 calc(50vw - 450px);
    --color-black: rgba(51, 51, 51, 1);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0;
    margin-top: -80px;
}

.h3__button {
    max-width: 800px;
    height: 70px;
    padding: 0 calc(50vw - 600px);
    gap: 20px;
}

.section__ul_logo {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 20px;
}

.section__li_logo {
    --color-black: rgba(51, 51, 51, 1);
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    list-style: none;
}

.selection__logo_a {
    text-decoration: none;
}

.block__selection {
    width: 1440px;
    height: 349px;
    padding-top: 50px;
}

.selection__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.block {
    width: 1440px;
    height: 270px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 40px;
}

.block__left {
    width: 710px;
    height: 264px;
    order: -1;
    padding-top: 20px;
}

.selection__col_2 {
    width: 700px;
    height: 117px;
    font-size: 30px;
    color: #000000;
    gap: 30px;
}

.colored__text {
    color: blue;
}

.block__right {
    width: 700px;
    height: 270px;
    order: 2;
    --color-black: rgba(51, 51, 51, 1);
    font-size: 18px;
    padding-top: 40px;
}

.main__container {
    width: 1440px;
    height: 720px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 200px;
    gap: 10px;
}

.left__div {
    width: 710px;
    height: 720px;
    order: -1;

}

.right__div {
    width: 345px;
    height: 260px;
    order: 2;
    margin-left: -720px;
}

.right__div_1 {
    width: 345px;
    height: 260px;
    margin-left: 360px;
}

.selection__container {
    width: 1440px;
    height: 1218px;
}

.selection__row_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row__h1 {
    width: 626px;
    height: 49px;
    font-size: 42px;
    --color-black: rgba(51, 51, 51, 1);
    padding-top: 50px;
}

.block {
    width: 1440px;
    height: 162px;
    display: flex;
    flex-direction: row;
}

.block__left_1 {
    width: 710px;
    height: 162px;
    font-size: 18px;
}

.block__right_1 {
    width: 710px;
    height: 78px;
    font-size: 30px;
    --color-black: rgba(51, 51, 51, 1);
}

.block__name {
    width: 1094px;
    height: 108px;
    padding: 0 calc(50vw - 780px);
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.name__h1 {
    width: 366px;
    height: 49px;
    font-size: 42px;
    --color-black: rgba(51, 51, 51, 1);


}

.name__p {
    width: 244px;
    height: 81px;
    font-size: 18px;
    --color-black: rgba(51, 51, 51, 1);
}

.block__name_2 {
    width: 1440px;
    height: 406px;
    padding-top: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.name__video {
    width: 100%;
    order: -1;
    aspect-ratio: 16/9;
}

.h1 {
    width: 710px;
    height: 78px;
    font-size: 30px;
    --color-black: rgba(51, 51, 51, 1);
}

.p {
    width: 710px;
    height: 240px;
    font-size: 20px;
    --color-black: rgba(51, 51, 51, 1);
}

.button {
    background: yellow;
    color: black;
    stroke: black;
    padding: 18px 41px;
    display: inline-flex;
    justify-content: center;
    line-height: 1.64;
    text-decoration: none;
    letter-spacing: 0.1em;
    min-width: 225px;
    box-sizing: border-box;
}

.button_1 {
    background: white;
    color: black;
    stroke: black;
    stroke-width: 5px;
    padding: 18px 41px;
    display: inline-flex;
    justify-content: right;
    line-height: 1.64;
    text-decoration: none;
    letter-spacing: 0.1em;
    min-width: 225px;
    box-sizing: border-box;
}

.article__container {
    width: 1440px;
    height: 1029px;
}

.name__10 {
    width: 274px;
    height: 49px;
    padding-top: 200px;
    margin-left: 600px;
    font-size: 20px;
}

.block__container_5 {
    width: 1440px;
    height: 522px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}


.block__left_3 {
    width: 345px;
    height: 520px;
    order: -1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.block__center_3 {
    width: 700px;
    height: 520px;
    order: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

.block__right_3 {
    width: 345px;
    height: 520px;
    order: 1;
    display: flex;
    flex-direction: column;
    margin-left: -350px;
}

.name__li {
    list-style: none;

}

.section__container_5 {
    width: 1440px;
    height: 368px;
    padding-top: 30px;
}

.h1__10 {
    --color-black: rgba(51, 51, 51, 1);
    font-size: 32px;
    font-family: "Roboto", sans-serif;
}

.block__2 {
    width: 1440px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ul__block_left {
    width: 710px;
    height: 300px;
    order: -1;
    gap: 15px;
    display: grid;
}

.left__li {
    font-size: 20px;
}

.ul__block_right {
    width: 710px;
    height: 270px;
    order: 2;
    display: grid;
    gap: 15px;
}

.right__li {
    font-size: 20px;
}

.block__3 {
    width: 1439px;
    height: 491px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 100px;
}

.block__left_6 {
    width: 710px;
    height: 491px;
    order: -1;
}

.block__right_6 {
    width: 709px;
    height: 491px;
    order: 2;
    padding-top: 20px;
}

.section__container_8 {
    width: 1440px;
    height: 528px;
    padding-top: 100px;
}

.section__container_9 {
    width: 1440px;
    height: 498px;
    padding-top: 100px;
}

.section__container_11 {
    width: 1440px;
    height: 527px;
    padding-top: 100px;
}

.block__container_12 {
    width: 1600px;
    height: 504px;
    background-color: rgba(26, 125, 240, 1);
}





